.modulePage{

    min-height:100vh;

    background:#071826;

    color:white;

    padding:60px;

}

.modulePage h1{

    font-size:52px;

    font-weight:800;

    margin-bottom:18px;

}

.modulePage p{

    color:#cfd8dc;

    font-size:20px;

    max-width:700px;

    line-height:1.7;

}